<%# add navigation links to this file %>
<a href="/ideas/which-are/popular" class="navbar-brand">Popular</a>
<a href="/ideas/which-are/recent" class="navbar-brand">Recent</a>
<a href="/ideas/which-are/most-voted" class="navbar-brand">Most Voted</a>
<a href="/ideas/which-are/most-viewed" class="navbar-brand">Most Viewed</a>
<% if user_signed_in? %>
  <a href="/ideas/which-are/mine" class="navbar-brand">My Ideas</a>
<% end %>
<a href="/ideas/new" class="navbar-brand">I have an Idea</a>